/* my mini normalize css*/
body, h1{
    margin: 0;
}
li{
    display: block;
}



header{
    padding: 15px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 0 rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: flex;
    flex-wrap: wrap;
}
.book-list__filter{
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}
.books-list{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.books-list article{
    width: 45%;
    margin: 1%;
    min-width: 600px;
}
.books-list article .item-book__img-box{
    max-width: 300px;
    max-height: 170px;
    color: white;
}
.books-list article .item-book__img-box div{
    width: 265px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.books-list article .item-book__discription p{
    margin-top: 0;
}
.books-list article .item-book__discription{
    margin: auto;
}
.item-book__img-box a , .item-book__img-box button, header a{
    background: none;
    color: gray;
    text-decoration: none;
    border: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}
.item-book__img-box a:hover , .item-book__img-box button:hover, header a:hover{
    border-bottom: 1px solid;
    margin-bottom: -1px;
}
.author {
    height: 100vh;
    width: 100%;
    display: flex;
}
.author section{
    width: 35%;
    margin: auto;
    border: none;
    padding: 21px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 0 rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.author section img{
    width: 100%;
}